{% extends "base.html" %}

{% block title %}

q Quiz

{% endblock %}

{% block content %}

<div class="card">

<h1>

q Quiz

</h1>

<p>

Welcome.

</p>

<h2 class="chartTitle">

Fundamentals

</h2>

<a href="/quiz">

<button>

Multiple Choice

</button>

</a>

<a href="/quiz?mode=syntax">

<button>

Multiple Choice - Syntax

</button>

</a>

<a href="/qidioms">

<button>

qIdioms

</button>

</a>

<a href="/fundamentals">

<button>

Fundamentals

</button>

</a>

<h2 class="chartTitle">

Challenges

</h2>

<a href="/aquaq">

<button>

AquaQ Challenges

</button>

</a>

<a href="/problems">

<button>

HackerRank Problems

</button>

</a>

<a href="/leetcode">

<button>

leetcode

</button>

</a>

<a href="/quantrank">

<button>

quantRank

</button>

</a>

<h2 class="chartTitle">

Community

</h2>

<a href="/about">

<button>

About

</button>

</a>

<a href="/jobs">

<button>

Jobs

</button>

</a>

<a href="/leaderboard">

<button>

Leaderboard

</button>

</a>

</div>

{% endblock %}
